In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

data = pd.read_excel('shopping.xlsx')
pd.DataFrame(data)
data.head(10)

,Ready made,Frozen foods,Alcohol,Fresh Vegetables,Milk,Bakery goods,Fresh meat,Toiletries,Snacks,Tinned Goods
0,1,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,1,0,0
2,1,0,0,0,0,0,0,1,1,0
3,1,0,0,0,1,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,1,0,0,1,1
6,1,0,0,0,0,1,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0
8,1,0,0,0,1,0,0,0,1,1
9,1,0,0,0,0,0,0,0,0,0

In [2]:
data1 = apriori(data,min_support=0.2,use_colnames=True)
data1.head(20)

     support                      itemsets
0   0.492366                  (Ready made)
1   0.402036                (Frozen foods)
2   0.394402                     (Alcohol)
3   0.428753                (Bakery goods)
4   0.474555                      (Snacks)
5   0.455471                (Tinned Goods)
6   0.211196    (Ready made, Frozen foods)
7   0.212468         (Ready made, Alcohol)
8   0.255725    (Ready made, Bakery goods)
9   0.244275          (Ready made, Snacks)
10  0.216285    (Ready made, Tinned Goods)
11  0.230280       (Frozen foods, Alcohol)
12  0.221374  (Frozen foods, Bakery goods)
13  0.213740        (Frozen foods, Snacks)
14  0.207379  (Frozen foods, Tinned Goods)
15  0.215013       (Alcohol, Bakery goods)
16  0.218830             (Alcohol, Snacks)
17  0.232824        (Bakery goods, Snacks)
18  0.227735  (Tinned Goods, Bakery goods)
19  0.223919        (Tinned Goods, Snacks)

In [7]:
data2 = association_rules(data1,metric='confidence',min_threshold=0.55)
data2.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bakery goods),(Ready made),0.428753,0.492366,0.255725,0.596439,1.211373,0.044622,1.257886
1,(Frozen foods),(Alcohol),0.402036,0.394402,0.230280,0.572785,1.452287,0.071716,1.417548
2,(Alcohol),(Frozen foods),0.394402,0.402036,0.230280,0.583871,1.452287,0.071716,1.436969
3,(Frozen foods),(Bakery goods),0.402036,0.428753,0.221374,0.550633,1.284265,0.049000,1.271225
4,(Alcohol),(Snacks),0.394402,0.474555,0.218830,0.554839,1.169178,0.031664,1.180348